input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    resize: vertical;
}

input,
textarea {
    -webkit-appearance: none;
}

body {
    letter-spacing: 0.04em;
    font-family: 
        'Source Sans Pro', 
        -apple-system, 
        BlinkMacSystemFont, 
        'Segoe UI', 
        Roboto, 
        'Helvetica Neue', 
        Arial,
        'Noto Sans JP', 
        sans-serif;
}